<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>BiteSpeed Backend</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <div class="card">
    <h1>BiteSpeed</h1>

    <p>
      Identity reconciliation service built using <br />
      <strong>Node.js & PostgreSQL</strong>
    </p>

    <div class="tag">Backend Assignment</div>

    <div class="footer">
      Developed by <strong>Anshika Puri</strong>
    </div>
  </div>
</body>
</html>